doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/css/add-users.css")
  body 
    header.header
      nav.header-nav
        ul.header-item-list
          li.header-item
            a(href="/") Bosh sahifa
          li.header-item
            a(href="/users/add-users") Add users  

    //- main
    main 
      h1 Add user

      form(action="/users/users" method='POST').user-form
        div.form-control 
          label(for="username") Username 
          input(type="text" name="username" id="username")

        div.form-control 
          label(for="age") Age 
          input(type="number" name="age" id="age")

        button(type="submit") Send