extends layouts/main-layout
block styles 
  link(rel="stylesheet", href="/css/main.css")
block content
  //- main
  main 
    h1 Users list
    if users.length > 0
      each user in users
        div.card
          img(src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%")
          .container 
            h4 
              b #{user.username}
            p Age: #{user.age}
    else 
      p There is no users